:root {
    --primary-blue: #2090f3;
    --dark-blue: #05569e;
    --background-light: #f7f7f7;
    --chat-background: #eaf7ff;
    --hover-background: rgba(32, 144, 243, 0.1);
    --text-color-light: #999;
    --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    background: white;
}

.sidebar i {
    color: var(--dark-blue);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--primary-blue);
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: 0;
    padding: 10px 14px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    font-size: 25px;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

section.chat {
    position: relative;
    min-height: 100vh;
    display: flex;
    top: 0;
    left: 78px;
    transition: all 0.5s ease;
    z-index: 2;
    width: calc(100% - 78px);
}

.chats {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-right: 1px solid #ccc;
}

.chats .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    background-color: var(--background-light);
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.chats .header .logo-details img {
    height: 40px;
    width: 40px;
    border: 1px solid var(--primary-blue);
    border-radius: 50%;
    transition: all .2s ease;
    margin-right: 10px;
}

.chats .header .logo-details img:hover {
    opacity: 0.5;
    /* Ajuste sutil */
}

.chats .header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.chats .header ul li {
    display: flex;
}

.chats .header ul li i {
    display: flex;
    margin: 0 10px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.search-chat {
    margin: 12px 10px;
    position: relative;
}

.search-chat i {
    left: 10px;
    line-height: 35px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: var(--text-color-light);
}

.search-chat input {
    outline: none;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: var(--background-light);
    padding: 10px 10px 10px 35px;
    font-size: 15px;
}

.chat-menssage {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

.chat-menssage .card {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px;
    transition: background-color 0.2s ease;
}

.chat-menssage .card.active {
    background-color: var(--hover-background);
    border-left: 3px solid var(--primary-blue);
    padding-left: 7px;
}

.chat-menssage .card:hover {
    background-color: var(--hover-background);
}

.chat-menssage .card .info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-menssage .card .info .header-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat-menssage .card img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    min-width: 40px;
}

.chat-menssage .card .info h3 {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

.chat-menssage .card .info p {
    font-size: 14px;
    color: #575555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-menssage .card .info .timeChat {
    font-size: 12px;
    color: var(--text-color-light);
    white-space: nowrap;
}

/* Área de Mensagem (Conversa) */

section.areaMenssage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.headerMenssage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;
    background-color: var(--background-light);
    box-shadow: var(--shadow-light);
    z-index: 10;
}

.headerMenssage .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerMenssage .logo img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid var(--primary-blue);
    border-radius: 50%;
    transition: all .2s ease;
}

.headerMenssage .logo img:hover {
    opacity: 0.5;
}

.headerMenssage .actions i {
    font-size: 20px;
    cursor: pointer;
    color: #575555;
    margin-left: 15px;
}

.menssage {
    background-color: var(--chat-background);
    padding: 20px;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    margin-bottom: 15px;
    max-width: 80%;
}

.message-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}


.message p {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 1.4;
    position: relative;
    word-wrap: break-word;
    max-width: 100%;
}

.message .time {
    font-size: 10px;
    color: var(--text-color-light);
    align-self: flex-end;
    white-space: nowrap;
    margin: 0 5px;
}

.message.received {
    justify-content: flex-start;
    margin-right: auto;
}

.message.received p {
    background-color: #e5e5ea; 
    color: #000;
    border-top-left-radius: 5px;
}

.message.sent {
    justify-content: flex-end;
    margin-left: auto;
}

.message.sent p {
    background-color: var(--primary-blue);
    color: #fff;
    border-top-right-radius: 5px;
}

.menssageInput {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    background-color: var(--background-light);
}

.menssageInput input {
    flex-grow: 1;
    /* OCUPA TODO O ESPAÇO ENTRE OS ÍCONES */
    margin: 0;
    /* Remove margens desnecessárias */
    border: 1px solid #ccc;
    border-radius: 20px;
    /* Arredondamento uniforme */
    padding: 10px 15px;
    font-size: 15px;
    outline: none;
}

.menssageInput i {
    padding: 8px;
    /* Aumentado o padding para melhor toque */
    border-radius: 50%;
    font-size: 20px;
    background-color: var(--primary-blue);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.menssageInput i:hover {
    background-color: var(--dark-blue);
}