* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar i {
    color: #05569e;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #2090f3;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    font-size: 25px;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

section.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

section.chat {
    position: relative;
    min-height: 100vh;
    display: flex;
    top: 0;
    left: 78px;
    transition: all 0.5s ease;
    z-index: 2;
}

.chats .header {
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: aliceblue;
    border-right: 1px solid #ccc;
}

.chats .header .logo-details img {
    margin: 10px 10px;
    height: 40px;
    cursor: pointer;
    width: 40px;
    border: 1px solid #2090f3;
    border-radius: 50%;
    transition: all .2s ease;
}

.chats .header .logo-details img:hover {
    opacity: 0.2;
}

.chats .header ul {
    display: flex;
    list-style: none;
}

.chats .header ul li {
    display: flex;
}

.chats .header ul li i {
    display: flex;
    margin: 0 30px;
    line-height: 60px;
    font-size: 20px;
}

.search-chat {
    margin-top: 12px;
}

.search-chat i {
    left: 10px;
    line-height: 35px;
    top: auto;
    position: absolute;
}

.search-chat input {
    outline: none;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: aliceblue;
    padding-left: 30px; 
    width: 300px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.chat-menssage {
    display: flex;
    margin: 5px 0;
}

.chat-menssage .card {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.chat-menssage .card.active {
    background-color: #5755551e;
}

.chat-menssage .card:hover {
    background-color: #5755551e;
}

.chat-menssage .card .info {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.chat-menssage .card img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chat-menssage .card .info h3 {
    font-size: 16px;
    margin: 0;
}

.chat-menssage .card .info .timeChat {
    font-size: 12px;
    color: #575555;
    align-items: center;
    white-space: nowrap;
}

.chats .header {
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: aliceblue;
    border-right: 1px solid #ccc;
}

/* área de menssagem */

section.areaMenssage {
    height: 100%;
    width: 100%;
}

.headerMenssage {
    display: flex;
    width: 100%;
    padding: 12px;
    background-color: aliceblue;
    border-right: 1px solid #ccc;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.137);
}

.headerMenssage .logo {
    display: flex;
    align-items: center;
}

.headerMenssage .logo img {
    height: 40px;
    width: 40px;
    margin: 0 20px;
    cursor: pointer;
    border: 1px solid #2090f3;
    border-radius: 50%;
    transition: all .2s ease;
}

.headerMenssage .logo img:hover {
    opacity: 0.2;
}


.menssage {
    background-color: #57555538;
    padding: 20px;
    height: 87vh;
    width: 100%;
}

.menssageInput {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;

}

.menssageInput input {
    width: 92%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 0 50px 50px 0;
    padding: 5px;
    font-size: 15px;
    outline: none;
    padding-left: 10px; 
}

.menssageInput i {
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #2090f3;
    color: #fff;
    align-items: center;
    
}